#overflow{
    height: 100px;
    width: 500px;
    border: 5px solid red;
    overflow: auto;
    background-color: rgb(161, 205, 205);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
#overflow2{
    color: whitesmoke;
    height: 20%px;
    width: 60%;
    border:solid  5px  red;
    overflow: auto;
    background-color: rgba(7, 0, 104, 0.541);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    text-align:justify;
    box-shadow: 5px 10px 20px red;
}