.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px;
}
.container >div{
    background-color: rgb(207, 244, 231);font-size: 30px;
    text-align: center;
    padding: 20px 0;
}
.item1{
    grid-column: 1/3;
}
    